<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Forget Password Request</title>
</head>
<body>
    User ${profile.fullName} with userID : ${username}  ,forget his password. Please change his password and notify him at <br/>
        Email : ${profile.email} <br/>
        #if ($profile.phone != $null) Phone : ${profile.phone}  <br/>  #else #end
        #if ($profile.mobile != $null) Mobile : ${profile.mobile}  <br/>  #else #end
</body>
</html>