<div class="container">
	<!-- Brand and toggle get grouped for better mobile display -->
	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	</button>
	<div class="row">
		<div class=" logo col-md-12" href="#">

		</div>
	</div>
</div>
<div class="search clearfix">
	<div class="container">
		<div class="pull-left">
			Restaurant : {{userData.restaurantName}}
		</div>
		<div class="pull-right">
			<div data-ng-show="userData.userID != null">Welcome {{userData.name}}	 |	<a class="pointer" data-ng-click="logout()">Logout</a>  | <a class="pointer" data-ng-click="home()">Home</a> </div>
		</div>
	</div>
</div>