<strong>Report</strong>
<div class="panel-footer">
    <div class="col-md-4 col-lg-4 col-sm-4">
        <input type="text"  data-ng-model="searchData.entityStartDate" class="form-control form-control-date input-sm" ng-class="{'required':fieldData.isRequire == 1}" maxlength="100"
               datepicker-popup="dd/MM/yyyy" close-text="Close" is_open="dt1" ng-focus="dt1 = true" ng-click="dt1 = true" >
    </div>
    <div class="col-md-4 col-lg-4 col-sm-4">
        <input type="text"  data-ng-model="searchData.entityEndDate" class="form-control form-control-date input-sm" ng-class="{'required':fieldData.isRequire == 1}" maxlength="100"
               datepicker-popup="dd/MM/yyyy" close-text="Close" is_open="dt2" ng-focus="dt2 = true" ng-click="dt2 = true" >
    </div>
    <!--<div class="col-md-3 col-lg-3 col-sm-3">
        <select data-ng-model="searchData.entityID" class="form-control input-sm">
            <option value=""> &#45;&#45;Select&#45;&#45;</option>
            <option value="USER">Manager</option>
            <option value="USER">Waiter</option>
            <option value="PRODUCT">Product</option>
        </select>
    </div>-->
    <div class="col-md-1 col-lg-1 col-sm-1">
        <button class="btn btn-sm btn-warning" data-ng-click="search()"><span class="fa fa-undo"></span> Search</button>
    </div>
</div>

<div class="panel panel-default mt-15" >
    <div class="panel-heading clearfix">
        <strong>Main order List</strong>
    </div>

    <table class="table table-bordered table-condensed table-striped table-hover fams-table">
        <thead>
        <tr class="bg-primary">
            <th width="8%">Sl</th>
            <th>Date</th>
            <th>Net Amount</th>
            <th>Sub Total</th>
            <th>Total</th>
            <th width="10%">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="mainOrder in mainOrderList">
            <td>{{$index + 1}}</td>
            <td>{{mainOrder.date | date:'dd/MM/yy'}}</td>
            <td>{{mainOrder.netAmount | currency :''}}</td>
            <td>{{mainOrder.subtotal | currency :''}}</td>
            <td>{{mainOrder.total | currency :''}}</td>
            <td >
                <a href="" class="clearfix" data-ng-click="edit(mainOrder)"><span class="fa fa-pencil-square-o"></span> View</a>
            </td>
        </tr>
        <tr >
            <td></td>
            <td></td>
            <td></td>
            <td>Total Sale: </td>
            <td>{{getTotalSale(mainOrderList) | currency :''}}</td>
            <td >
            </td>
        </tr>
        </tbody>
    </table>

    <label>Total Amount Sale :</label> <label>{{totalNetAmount  | currency :''}}</label><br>
    <label>Total Cost of product: </label> <label>{{totalNetCost  | currency :''}}</label><br>
    <label>Total Profit : </label> <label>{{totalProfit  | currency :''}}</label>
</div>