<div class="panel panel-default mt-15" >
    <div class="panel-heading clearfix">
        <strong>Current Day Order's</strong>
    </div>

    <table class="table table-bordered table-condensed table-striped table-hover fams-table">
        <thead>
        <tr class="bg-primary">
            <th width="8%">Sl</th>
            <th>Date</th>
            <th>Net Amount</th>
            <th>Sub Total</th>
            <th>Total</th>
            <th width="10%">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="mainOrder in mainOrderList">
            <td>{{$index + 1}}</td>
            <td>{{mainOrder.date | date:'dd/MM/yy'}}</td>
            <td>{{mainOrder.netAmount | currency :''}} RM</td>
            <td>{{mainOrder.subtotal | currency :''}} RM</td>
            <td>{{mainOrder.total | currency :''}} RM</td>
            <td ></td>
        </tr>
        <tr >
            <td></td>
            <td></td>
            <td></td>
            <td>Total Sale: </td>
            <td>{{getTotalSale(mainOrderList) | currency :''}} RM</td>
            <td >
            </td>
        </tr>
        </tbody>
    </table>
</div>