<div class="alert alert-danger alert-dismissable" data-ng-show="hasError">
    {{message}}
</div>
<div class="alert alert-success alert-dismissable" data-ng-show="hasSuccess">
    {{message}}
</div>

<div id="validationRequired" ng-show="showForm">
    <div class="panel panel-default mt-15">
        <div class="panel-body p15">
            <div class="row">
                <div class="col-md-6 col-lg-6 col-sm-6">
                    <div class="form-group mb-0">
                        <label>Restaurant :<span class="text-red">*</span></label>
                        <select data-ng-model="userData.restaurantID" class="form-control input-sm required" data-ng-options="cafe.restaurantID as cafe.name for cafe cafe in cafeList">
                            <option value="">--Select--</option>
                        </select>
                        <div class="validationErrMsg hidden"></div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-sm-6">
                    <div class="form-group mb-0">
                        <label>User level : <span class="text-red">*</span></label>
                        <select data-ng-model="userData.level" class="form-control input-sm required" >
                            <option value="">--Select--</option>
                            <option value="1">Admin</option>
                            <option value="2">Manager</option>
                            <option value="3">Waiter</option>
                        </select>
                        <div class="validationErrMsg hidden"></div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-sm-6">
                    <div class="form-group mb-0">
                        <label>Name : <span class="text-red">*</span></label>
                        <input type="text" data-ng-model="userData.name" class="form-control input-sm required" maxlength="100">
                        <div class="validationErrMsg hidden"></div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-sm-6">
                    <div class="form-group mb-0">
                        <label>User name : <span class="text-red">*</span></label>
                        <input type="text" data-ng-model="userData.username" class="form-control input-sm required" maxlength="100">
                        <div class="validationErrMsg hidden"></div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-sm-6">
                    <div class="form-group mb-0">
                        <label>Password : <span class="text-red">*</span></label>
                        <input type="password" data-ng-model="userData.password" class="form-control input-sm required" maxlength="100">
                        <div class="validationErrMsg hidden"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="text-right">
                <button class="btn btn-sm btn-warning" data-ng-click="reset()"><span class="fa fa-undo"></span> Reset</button>
                <button class="btn btn-sm btn-success" data-ng-click="save(userData)" data-ng-hide="userData.userID > 0"><span class="fa fa-floppy-o"></span> Save</button>
                <button class="btn btn-sm btn-success" data-ng-click="update(userData)" data-ng-show="userData.userID > 0"><span class="fa fa-floppy-o"></span> Update</button>
                <button class="btn btn-sm btn-danger" data-ng-click="cancel()"><span class="fa fa-times"></span> Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default mt-15" ng-show="!showForm">
    <div class="panel-heading clearfix">
        <strong>User List</strong>
        <button class="btn btn-sm btn-success pull-right" data-ng-click="add()"><span class="fa fa-plus"></span> Add User</button>
    </div>
    <div class="alert alert-info" data-ng-show="sectorList.length == 0">No User Found</div>

    <table class="table table-bordered table-condensed table-striped table-hover fams-table" data-ng-show="userDataList.length > 0">
        <thead>
        <tr class="bg-primary">
            <th width="8%">Sl</th>
            <th>Name</th>
            <th>Level</th>
            <th>User name</th>
            <th width="10%">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="userData in userDataList">
            <td>{{$index + 1}}</td>
            <td>{{userData.name}}</td>
            <td>{{userData.level}}</td>
            <td>{{userData.username}}</td>
            <td>
                <a href="" class="clearfix" data-ng-click="edit(userData)"><span class="fa fa-pencil-square-o"></span> Edit</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>