<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="logImpl" value="SLF4J"/>
		<setting name="lazyLoadingEnabled" value="true"/>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>

	<typeAliases>
        
		
		<typeAlias alias="Product" type="com.cafe.mybatis.domain.ProductData"/>
		<typeAlias alias="Waiter" type="com.cafe.mybatis.domain.WaiterData"/>
		<typeAlias alias="Ingredient" type="com.cafe.mybatis.domain.IngredientData"/>
		<typeAlias alias="MainOrder" type="com.cafe.mybatis.domain.MainOrderData"/>
		<typeAlias alias="OrderByProduct" type="com.cafe.mybatis.domain.OrderByProductData"/>
		<typeAlias alias="Restaurant" type="com.cafe.mybatis.domain.RestaurantData"/>
		<typeAlias alias="RestaurantTable" type="com.cafe.mybatis.domain.RestaurantTableData"/>
		<typeAlias type="com.cafe.mybatis.domain.UserData" alias="UserData"/>
		<typeAlias type="com.cafe.mybatis.domain.UserGroupPermissionData" alias="UserGroupPermission"/>
	</typeAliases>
	
    <plugins>
        <plugin interceptor="com.cafe.mybatis.interceptor.MapperInterceptor"/>
    </plugins>
</configuration>